html, body {
  /*background-color: rgb(192, 192, 192);*/
  /*height: 100%;*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

html, body, app{
  background-image: linear-gradient(141deg, #9cacad 0%, #91b2c5 51%, #5a8067 75%);
  background-color: transparent;
}

body > #root > div {
  /*height: 100vh;*/
}

.stripePaymentBlock{
  background-color: rgba(255,255,255,.5);
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,.2);
}

.react-pricing-table .grey{
  display: none;
}

.hearedEmail{
  padding-right: 10px;
}

.text-center{
  text-align: center;
}

.buttonBox{
  background-color: rgba(255,255,255,.2);
  padding: 15px;
}

.centerFlex{
  display: flex; 
  justify-content: center;
}

.centerButtonContainer{
  display: flex; justify-content: center; 
}

.homelogo
{
  display: block;
  max-height: 20px;
  height: 100%;
  width: auto;
}

.signedInIcon{
	-ms-transform: translate(0px, 10px); /* IE 9 */
    -webkit-transform: translate(0px, 10px); /* Safari */
    transform: translate(0px, 10px);
}

.app {
  display: flex;
  justify-content: center;
}

.app .screen {
  width: 1280px;
  box-shadow: 0 0 55px rgba(0,0,0,.5);
}

.protected-dashboard{
  display: flex;
}

/* Style the sidebar - fixed full height */
.sidebar {
  /*height: 100%;*/
  width: 220px;
  min-height: 100vh;
  /*position: fixed;*/
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1976d2;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar-inner{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 400px;
  height: 100%;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  transition-duration: 0.5s
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
  border-bottom-color: orange;
  box-shadow: 0 10px 10px rgba(0,0,0,.2);
}

.header-container{
    border-bottom-style: solid;
    border-bottom-color: #799c9b;
}

.Dashboard-content{
    background-color: rgba(0,0,0,.1)
}

h1{
  color: #fafafa;
  text-align: center;
  font-family: 'Monoton', cursive;
  text-shadow: 0 0 90px black;
}

.history-page .ReactTable {
  background-color: rgba(255,255,255,.8);
  border-radius: 5px;
}

.history-page .ReactTable .rt-td{
  color: black;
}

.react-pricing-table .basic-header{
  color: black;
}

.react-pricing-table .price li {
  text-shadow: 0 0 1px black;
  color: white;
}

.react-pricing-table .price b {
  color: orange;
}

.react-pricing-table .price .basic-header {
  color: grey !important;
  text-shadow: initial !important;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
